{#
Copyright 2022, The Khronos Group Inc.

SPDX-License-Identifier: CC-BY-4.0
#}

{% extends "base.jinja2.html" %}
{% block title -%}
    OpenXR Runtime Extension Support Report
{%- endblock title %}

{% block navbar_brand_text -%}
    OpenXR Runtime Extension Support Report
{%- endblock navbar_brand_text %}

{% block navbar_list_items %}
    <li><a href="#extensions">Extensions</a></li>
    <li><a href="#runtimes">Runtimes</a></li>
    <li><a href="#matrix">Extension Support Matrix</a></li>
{% endblock navbar_list_items %}

{% block style %}
{{ super() }}

table thead tr th.runtime-name {
    position: sticky;
    background: white;
    z-index: 2;
    /* from min height of nav bar */
    top: 50px;
}

{% endblock style %}

{% block container_contents %}
    <section id="extensions">

        <!-- extension toc -->
        <div class="jumbotron row">
            <h2 id="extensions">Extensions</h2>
            {% for col in extensions | slice(3) %}
            <div class="col-md-4">
                <ul class="list-unstyled">
                    {% for extension_name in col %}
                    <li><a href="#{{ extension_name }}">{{ extension_name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>

        {% for extension_name in extensions %}
        {% set support = extension_support[extension_name] %}

        <div class="row" id="{{ extension_name }}">
            <h3>{{ extension_name }} ({{ support | length }} runtime{{ "s" if support | length != 1 }})</h3>
            <p>
                <a href="https://www.khronos.org/registry/OpenXR/specs/1.0/html/xrspec.html#{{extension_name}}">Specification
                    for {{ extension_name }}</a>
            </p>
            <ul>
                {% for runtime, entry in support | sort %}
                <li><a href="#{{ runtime.stub }}">{{ runtime.vendor }} - {{ runtime.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </section>

    <section>
        <!-- runtime toc -->
        <div id="runtimes" class="jumbotron row">
            <h2>Runtimes</h2>

            <ul class="list-unstyled">
                {% for runtime in runtimes | sort %}
                <li><a href="#{{ runtime.stub }}">{{ runtime.vendor }} - {{ runtime.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        {% for runtime in runtimes %}
        <div class="row" id="{{ runtime.stub }}">
            <h3>{{ runtime.name }}</h3>
            <ul>
                <li>Vendor: {{ runtime.vendor }}</li>
                {% if runtime.conformance_submission %}
                <li>Most recent conformance submission: <a href="{{runtime.conformance_submission_url}}">#{{runtime.conformance_submission}}</a></li>
                {% endif %}
                {% if not runtime.conformance_submission %}
                <li><strong>Not a conformant runtime</strong></li>
                {% endif %}
                {% if runtime.conformance_notes %}
                <li>Conformance notes: {{runtime.conformance_notes}}</li>
                {% endif %}
                <li>Supported extensions:
                    <ul>
                        {% for extension in runtime.extensions %}
                        <li><a href="#{{extension.name}}">{{extension.name}}</a> {% if extension.notes %} - {{ extension.notes }} {% endif %} </li>
                        {% endfor %}
                    </ul>
            </ul>
        </div>
        {% endfor %}
    </section>

    <section>
        <div id="matrix" class="jumbotron row">
            <h2>Runtime support matrix</h2>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    {% for runtime in runtimes | sort %}
                    <th class="runtime-name">{{ runtime.name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>

                {% macro extension_matrix_row(extension_name) %}
                <tr>
                    <th class="extname">{{ extension_name }}</th>
                    {% for runtime in runtimes | sort %}
                        {% if extension_name in runtime_support[runtime.name] %}
                        <td class="bg-success">Y <span class="sr-only">Supported</span></td>
                        {% else %}
                        <td><span class="sr-only">Not supported or not applicable</span></td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endmacro %}

                <tr>
                    <th>Khronos Extensions</th>
                </tr>
                {% for extension_name in extensions | sort if extension_name[0:6] == "XR_KHR" %}
                {{ extension_matrix_row(extension_name) }}
                {% endfor %}
                <tr>
                    <th>Multi-Vendor Extensions</th>
                </tr>
                {% for extension_name in extensions | sort if extension_name[0:6] == "XR_EXT" %}{{ extension_matrix_row(extension_name) }}
                {% endfor %}
                <tr>
                    <th>Vendor Extensions</th>
                </tr>
                {% for extension_name in extensions | sort if extension_name[0:6] != "XR_EXT" and extension_name[0:6] != "XR_KHR" %}
                {{ extension_matrix_row(extension_name) }}
                {% endfor %}

            </tbody>
        </table>
    </section>
{% endblock container_contents %}
