{#
Copyright 2022, The Khronos Group Inc.

SPDX-License-Identifier: CC-BY-4.0
#}

{% extends "base.jinja2.html" %}
{% block title -%}
    OpenXR Runtime Extension Support Report
{%- endblock title %}

{% block navbar_brand_text -%}
    OpenXR Runtime Extension Support Report
{%- endblock navbar_brand_text %}

{% block navbar_list_items %}
    <li><a href="#extensions">Extensions</a></li>
    <li><a href="#runtimes">Runtimes</a></li>
    <li><a href="#runtime_matrix">Runtime Support Matrix</a></li>
{% endblock navbar_list_items %}

{% block style %}
{{ super() }}

table.table-sticky-col-headers thead tr {
    position: sticky;
    background: white;
    z-index: 2;
    /* from min height of nav bar */
    top: 50px;
}

th.rotate {
  height: 170px;
  white-space: nowrap;
}

th.rotate > div {
  transform: rotate(-45deg);
  width: 32px;
  padding: 5px;
}

{% endblock style %}

{% block container_contents %}
    <section id="extensions">

        <!-- extension toc -->
        <div class="jumbotron row">
            <h2 id="extensions">Extensions</h2>
            {% for col in extensions | slice(3) %}
            <div class="col-md-4">
                <ul class="list-unstyled">
                    {% for extension_name in col %}
                    <li><a href="#{{ extension_name }}">{{ extension_name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>

        {% for extension_name in extensions %}
        {% set support = extension_support[extension_name] %}

        <div class="row" id="{{ extension_name }}">
            <h3>{{ extension_name }} ({{ support.runtime_count }} runtime{{ "s" if support.runtime_count != 1 }})</h3>
            <p>
                <a href="{{spec_url}}#{{extension_name}}">Specification
                    for {{ extension_name }}</a>
            </p>
            Runtimes:<br>
            <ul>
                {% for runtime in runtimes | sort %}
                {% if extension_name in runtime_support[runtime.name] %}
                <li><a href="#{{ runtime.stub }}">{{ runtime.vendor }} - {{ runtime.name }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </section>

    <section>
        <!-- runtime toc -->
        <div id="runtimes" class="jumbotron row">
            <h2>Runtimes</h2>

            <ul class="list-unstyled">
                {% for runtime in runtimes | sort %}
                <li><a href="#{{ runtime.stub }}">{{ runtime.vendor }} - {{ runtime.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        {% for runtime in runtimes %}
        <div class="row" id="{{ runtime.stub }}">
            <h3>{{ runtime.name }}</h3>
            <ul>
                <li>Vendor: {{ runtime.vendor }}</li>
                {% if runtime.conformance_submission %}
                <li>Most recent conformance submission: <a href="{{runtime.conformance_submission_url}}">#{{runtime.conformance_submission}}</a></li>
                {% endif %}
                {% if not runtime.conformance_submission %}
                <li><strong>Not a conformant runtime</strong></li>
                {% endif %}
                {% if runtime.conformance_notes %}
                <li>Conformance notes: {{ runtime.conformance_notes }}</li>
                {% endif %}
                {% if runtime.devices_notes %}
                <li>Device support: {{ runtime.devices_notes }}</li>
                {% endif %}
                <li>Supported extensions:
                    <ul>
                        {% for extension in runtime.extensions %}
                        <li><a href="#{{extension.name}}">{{extension.name}}</a> {% if extension.notes %} - {{ extension.notes }} {% endif %} </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
        {% endfor %}
    </section>

    <section>
        <div id="runtime_matrix" class="jumbotron row">
            <h2>Runtime support matrix</h2>
        </div>
        <table class="table table-hover table-condensed table-sticky-col-headers">
            <thead>
                <tr>
                    <th></th>
                    {% for runtime in runtimes | sort %}
                        {# pragmatic check if the runtime name fits in the layout or if it needs to be truncated and put the full name in tooltip #}
                        {% if runtime.name|length < 34 %}
                        <th class="rotate" style="border:none"><div><span>{{ runtime.name }}</span></div></th>
                        {% else %}
                        <th class="rotate" style="border:none"><div><span><abbr title="{{runtime.name}}">{{ runtime.name|truncate(34, True) }}</abbr></span></div></th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>

                {% macro extension_matrix_row(extension_name) %}
                <tr>
                    <th class="extname">
                        {{ extension_name }}
                        <a href="{{spec_url}}#{{extension_name}}" alt="speficication text">
                            <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                        </a>
                    </th>
                    {% for runtime in runtimes | sort %}
                        {% if extension_name in runtime_support[runtime.name] %}
                        <td class="text-center bg-success"><span class="glyphicon glyphicon-ok" style="color:green" aria-hidden="true"></span><span class="sr-only">Supported</span></td>
                        {% else %}
                        <td class="text-center"><span class="glyphicon glyphicon-minus" style="opacity:0.1"></span><span class="sr-only">Not supported or not applicable</span></td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endmacro %}

                {# Loop through all categories of extension (KHR, EXT, vendor, KHX, EXTX, Vendor-X) #}
                {% for c in cat.all_categories() %}
                    {# Loop through all extensions in that category #}
                    {% for extension_name in extensions if categorize_ext(extension_name) == c %}
                        {% if loop.first %}
                            {# this header is inside the loop so it is skipped if we have no items in this category #}
                            {# it is inside this "if" so it only shows up once for each category. #}
                            <tr class="active">
                                <th style="text-align:center" colspan="{{ runtimes|length + 1 }}">{{ cat_captions[c] }} Extensions</th>
                            </tr>
                        {% endif %}
                        {# Write out a row in the table for this extension #}
                        {{ extension_matrix_row(extension_name) }}
                    {% endfor %}
                {% endfor %}

                <tr class="active">
                    <th style="text-align:center" colspan="{{ runtimes|length + 1 }}">Runtime Features</th>
                </tr>

                {% for ff, view_configurations in known_form_factors.items() %}
                    <tr>
                        <th class="extname">
                            {{ ff }}
                            <a href="{{spec_url}}#XrFormFactor" alt="speficication text">
                                <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                            </a>
                        </th>

                        {% for runtime in runtimes | sort %}
                            <td class="text-center"></span></td>
                        {% endfor %}
                    </tr>

                    {% for vc, environment_blend_modes in view_configurations.items() %}
                    <tr>
                        <th class="extname">
                            &rarr; {{ vc }}
                            <a href="{{spec_url}}#XrViewConfigurationType" alt="speficication text">
                                <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                            </a>
                        </th>

                        {% for runtime in runtimes | sort %}
                            <td class="text-center"></span></td>
                        {% endfor %}

                        {% for ebm in environment_blend_modes %}
                        <tr>
                            <th class="extname">
                                &rarr; &rarr; {{ ebm }}
                                <a href="{{spec_url}}#XrEnvironmentBlendMode" alt="speficication text">
                                    <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                                </a>
                            </th>
                            {% for runtime in runtimes | sort %}
                                {% if ff in form_factor_support[runtime.name] and vc in form_factor_support[runtime.name][ff] and ebm in form_factor_support[runtime.name][ff][vc] %}
                                <td class="text-center bg-success"><span class="glyphicon glyphicon-ok" style="color:green" aria-hidden="true"></span><span class="sr-only">Supported</span></td>
                                {% else %}
                                <td class="text-center"><span class="glyphicon glyphicon-minus" style="opacity:0.1"></span><span class="sr-only">Not supported or not applicable</span></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}

                    </tr>
                    {% endfor %}

                {% endfor %}

            </tbody>
        </table>
    </section>
{% endblock container_contents %}
